{% extends 'app/base.html' %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form action="">
                    <div class="form-group">
                        <label for="" class="h4 pt-5" style="color: aliceblue;">Chatroom</label>
                        <textarea class="form-control text-light bg-dark" id="chat-text" rows="20"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input clas="form-control text-white bg-dark" id="input" type="text"><br>
                    </div>
                    <div>
                        <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="send">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}


{% block  script %}
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username| json_script:"user-username" }}

    <script>
        const userName = JSON.parse(document.getElementById('user-username').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log("User: ",userName);

        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify(
                {
                    'message': message,
                    'username': userName
                }
            ));
            messageInputDom.value = '';
        };

        console.log(roomName);
        const chatSocket = new WebSocket(
            'wss://' + window.location.host + '/ws/chat/' + roomName + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data.message);
            if (data.message.main == 'John likes the blue house at the end of the street.') {
                console.log(data.message.main)
                console.log(data.message.Adjective.length)
                document.querySelector('#chat-text').value += (
                    data.message.main+'\n'+
                    'Adjective: '+data.message.Adjective+' ('+data.message.Adjective.length+')'+'\n'+
                    'Adverb: '+data.message.Adverb+' ('+data.message.Adverb.length+')'+'\n'+
                    'Conjunction: '+data.message.Conjunction+' ('+data.message.Conjunction.length+')'+'\n'+
                    'Determiner: '+data.message.Determiner+' ('+data.message.Determiner.length+')'+'\n'+
                    'Noun: '+data.message.Noun+' ('+data.message.Noun.length+')'+'\n'+
                    'Number: '+data.message.Number+' ('+data.message.Number.length+')'+'\n'+
                    'Preposition: '+data.message.Preposition+' ('+data.message.Preposition.length+')'+'\n'+
                    'Pronoun: '+data.message.Pronoun+' ('+data.message.Pronoun.length+')'+'\n'+
                    'Verb: '+data.message.Verb+' ('+data.message.Verb.length+')'+'\n'
                )

            } else {
                document.querySelector('#chat-text').value += (data.message + '\n')
            }
            // document.querySelector('#user-hello').innerHTML = data.tester
        }
    </script>
{% endblock  %}